body {
    font-family: "Open Sans";
}

.odd {
    font-weight: bold;
    font-size: 12px;
}

.even {
    font-size: 9px;
    color: darkgray;
}

.times {
    width: 72px;
    display: inline;
    float: left;
    text-align: right;
    padding-right: 10px;
}

.eventBox {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f0f0f0;
    border-left: 1px solid darkgray;
    position: relative;
}

.blue {
    color: #1565C0;
}

.box {
    position: absolute;
    background-color: white;
    border: 1px solid lightgray;
    border-left: 4px solid #1565C0;
    padding-top: 5px;
}

.boxText {
    margin-left: 7px;
    margin-top: 0px;
    margin-bottom: 0px;
}